.password_1 {
	width:780px;
	margin:0 0 50px 0;
	padding:10px 0;
	border-bottom:1px solid #c0c0c0;
}
.password_2 {
	width:400px;
	margin:20px auto;
}
.password_3 {
	width:680px;
}
.submitPwd {
	height:25px;
	display:block;
	margin:0 auto;
	background-color:#b60b14;
	color:#fff;
	border-radius:4px;
	white-space:nowrap;
	font-size:16px;
	padding:0 16px;
	border:none;
	cursor:pointer;
	font-family:inherit;
	line-height:inherit;
	-webkit-appearance:button;
	text-transform:none;
	overflow:visible;
}
.password_2  p {
	margin:15px 10px;
}
.password_2 input {
	height:25px;
	width:200px;
	font-size:16px;
	padding:0 10px;
	border:1px solid #ccc;
	border-radius:4px;
	outline:none;
}