.title {
	height:28px;
	width:700px;
	font-size:18px;
	padding:0 10px;
	border:1px solid #ccc;
	border-radius:4px;
	outline:none;
}
.PostContent textarea {
	width:700px;
	height:400px;
	font-size:16px;
	wrap:physical;
	resize:none;
	padding:0 10px;
	border:1px solid #ccc;
	border-radius:8px;
	outline:none;
}
.postTile {
	margin:20px 0;
}
.PostContent {
	margin:20px 0;
}
.toPost_1 {
	width:700px;
}
.toPost {
	height:25px;
	display:block;
	margin:0 auto;
	background-color:#b60b14;
	color:#fff;
	border-radius:4px;
	white-space:nowrap;
	font-size:16px;
	padding:0 16px;
	border:none;
	cursor:pointer;
	font-family:inherit;
	line-height:inherit;
	-webkit-appearance:button;
	text-transform:none;
	overflow:visible;
}