<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xian.hkx.gxzx.dao.ReplyDao" >
   <select id="getReply" resultType="com.xian.hkx.gxzx.entities.Reply">
    select id, bbsid, userid, content, replytime from tb_bbs_reply where bbsid=#{bbsid} order by replytime desc limit #{pagenum}, #{pagesize}
  </select>
  <insert id="addReply" parameterType="com.xian.hkx.gxzx.entities.Reply">
    insert into tb_bbs_reply(bbsid, userid, content, replytime) values(#{bbsid}, #{userid}, #{content}, #{replytime})
  </insert>
  <delete id="deleteReply">
      delete from tb_bbs_reply where bbsid=#{bbsid}
   </delete>
</mapper>